<h1>Detalhes do pagamento</h1>
<div style="background-color: firebrick;padding:13px;">
<a href="/pagamento"><button>Listar</button></a>
<a href="/editar-pagamento/{{id}}"><button>Editar</button></a>
<a href="/del-pagamento/{{id}}"><button>Apagar</button></a><hr>
ID: {{id}} <br>
Nome: {{nome}} <br>
Valor: {{valor}} <br>

</div>